<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MakeMeTakeMeReadMe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="icon" type="image/png" href="https://coding-assets.s3-us-west-2.amazonaws.com/favicons/mmtmrm-favicon.png">
  </head>
  <body>
    @Html.Partial("Navigation")
    <div class="flex container">
    @RenderBody()
    </div>
  </body>
</html>