@{
  Layout = "_Layout";
}
  <div class="container">
    <div class="jumbotron">
      <h1>MakeMeTakeMeReadMe</h1>
      <em>Pick a theme!</em>
    </div>
    <div class="theme-bag">
      <div class="theme1">
        <img class="theme-img-top" src="https://coding-assets.s3-us-west-2.amazonaws.com/img/readme-icon.png">
        <div class="theme-body">
          <h5 class="theme-title">Original</h5>
          <p class="theme-text">The OG</p>
          <a href="/ReadmeOneInput" class="btn btn-info">Try</a>
        </div>
      </div>
      <div class="theme2">
        <img class="theme-img-top" src="https://coding-assets.s3-us-west-2.amazonaws.com/img/readme-icon.png">
        <div class="theme-body">
          <h5 class="theme-title">Updated ReadMe</h5>
          <p class="theme-text">2.0</p>
          <a href="/ReadmeTwoInput" class="btn btn-warning">Try</a>
        </div>
      </div>
    </div>
  </div>

