@{
  Layout = "_Layout";
}
@model MakeMeTakeMeReadMe.Models.Snippets

  <div class="container">
    <form action="/readmeOneOutput" method="post">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">a title</label>
            <input class="form-control" id="title" name="title" type="text">
          </div>
          <div class="form-group">
            <label for="tagline">a tagline</label>
            <input class="form-control" id="tagline" name="tagline" type="text">
          </div>
          <div class="form-group">
            <label for="about">about section</label>
            <input class="form-control" id="about" name="about" type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="keyword1">a keyword 1</label>
            <input class="form-control" id="keyword1" name="keyword1" type="text">
          </div>
          <div class="form-group">
            <label for="keyword2">a keyword 2</label>
            <input class="form-control" id="keyword2" name="keyword2" type="text">
          </div>
          <div class="form-group">
            <label for="keyword3">a keyword 3</label>
            <input class="form-control" id="keyword3" name="keyword3" type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="keyword4">a keyword 4</label>
            <input class="form-control" id="keyword4" name="keyword4" type="text">
          </div>
          <div class="form-group">
            <label for="keyword5">a keyword 5</label>
            <input class="form-control" id="keyword5" name="keyword5" type="text">
          </div>
          <div class="form-group">
            <label for="keyword6">a keyword 6</label>
            <input class="form-control" id="keyword6" name="keyword6" type="text">
          </div>
        </div>  
        <div class="col-md-6">
          <div class="form-group">
            <label for="heroURL">url for hero image</label>
            <input class="form-control" id="heroURL" name="heroURL" type="text">
          </div>
          <div class="form-group">
            <label for="bugStatus">bug status</label>
            <input class="form-control" id="bugStatus" name="bugStatus" type="text">
          </div>
          <div class="form-group">
            <label for="bugDate">bug status date</label>
            <input class="form-control" id="bugDate" name="bugDate" type="text">
          </div>
        
          @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
          <b>Want Additional Benefit: </b><br />
          <span>| Photoshop: </span> @Html.CheckBox("Photoshop",true)
          <span>| Vscode: </span> @Html.CheckBox("Vscode", false)
          <span>| Mysqlworkbench: </span> @Html.CheckBox("Mysqlworkbench", false)    
        }
        </div>

      </div>
      <div class="row">
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn btn-info">MakeMeTakeMeReadMe</button>
          </div>
        </div>
      </div>
    </form>
  </div>

